src/main/mule/getbyrestaurantid.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getarestaurantsbyId" doc:id="0c4059a8-a29d-41f7-8a9b-c592170413be" >
		<db:select doc:name="Select" doc:id="c757876e-e87a-4f46-88e1-1773beec05dd" config-ref="Database_Config">
			<db:sql><![CDATA[select * from restaurant where restaurant_id = :restaurantid
]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	restaurantid: vars.id as String
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="4639d001-4d48-400f-8bd6-92ef44ceff5b" >
			<when expression="#[isEmpty(payload)]">
				<raise-error doc:name="Raise error" doc:id="d55ab1ed-d86a-44a7-a9b6-a289d6ae216e" type="APP:RESTAURANT_DOESNTEIST"/>
			</when>
			<otherwise >
				<set-payload value="#[payload[0]]" doc:name="Set Payload" doc:id="c2cb5d96-1fef-4fa9-aea4-c73f57b8ca76" />
			</otherwise>
		</choice>
	
</flow>
</mule>
