src/main/mule/swiggy-restaurants-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="swiggy-restaurants-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="swiggy-restaurants-sapi-config" api="resource::d0205d5f-f064-4d78-b0f0-1e4d55cdf281:swiggy-restaurants-sapi:2.0.6:raml:zip:swiggy-restaurants-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="swiggy-restaurants-sapi-main">
        <http:listener config-ref="swiggy-restaurants-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="swiggy-restaurants-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="swiggy-restaurants-sapi-console">
        <http:listener config-ref="swiggy-restaurants-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="swiggy-restaurants-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\restaurants:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="4ff41f8b-f751-404b-96dc-6e4176f39f9b">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="requestUri"><![CDATA[%dw 2.0
output application/java
---
attributes.requestUri as String]]></ee:set-variable>
                <ee:set-variable variableName="name"><![CDATA[%dw 2.0
output application/java
---
(attributes.queryParams.name default "") as String]]></ee:set-variable>
                <ee:set-variable variableName="page"><![CDATA[%dw 2.0
output application/java
---
if(attributes.queryParams.page as Number != 0 ) 
	(attributes.queryParams.page as Number)
 else  1]]></ee:set-variable>
                <ee:set-variable variableName="pageSize"><![CDATA[%dw 2.0
output application/java
---
if(attributes.queryParams.pageSize as Number != 0 ) 
	(attributes.queryParams.pageSize as Number)
 else  2]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getallrestaurants" doc:id="bbe07f2d-f518-4908-bc67-b08941c85888" name="getallrestaurants" />
        <logger level="INFO" message="get:\restaurants:swiggy-restaurants-sapi-config" />
    </flow>
    <flow name="put:\restaurants\(id):application\json:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="updaterestaurantbyid" doc:id="f2823ec9-4421-4618-a88e-78aa2f5dfc7c" name="updaterestaurantbyid" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "Restaurant with id " ++ vars.id ++" is updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\restaurants\(id):swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleterestaurantbyid" doc:id="07402081-9ea4-4eaf-a77e-988fbc95d741" name="deleterestaurantbyid" />
        <ee:transform doc:name="Transform Message" doc:id="552001b9-d916-4576-80bf-5d3b9ca088ca">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if(payload ==1){
  status: "200",
  message: "Restaurant with id " ++ vars.id ++ " is Deleted"
}else{
  status: "404",
  message: "Restaurant with id " ++ vars.id ++ " is Not found"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
if(payload >=1) "200" else  "404"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(id)\menus:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message1" doc:id="1764950a-4aa8-4c0d-a45c-d4c7667c199a">
            <ee:message />
            <ee:variables>
                <ee:set-variable variableName="requestUri"><![CDATA[%dw 2.0
output application/java
---
attributes.requestUri as String
//log("Request path is ",attributes.requestPath as String)]]></ee:set-variable>
                <ee:set-variable variableName="page"><![CDATA[%dw 2.0
output application/java
---
if(attributes.queryParams.page as Number != 0 ) 
	(attributes.queryParams.page as Number)
 else  1]]></ee:set-variable>
                <ee:set-variable variableName="pageSize"><![CDATA[%dw 2.0
output application/java
---
if(attributes.queryParams.pageSize as Number != 0 ) 
	(attributes.queryParams.pageSize as Number)
 else  2]]></ee:set-variable>
                <ee:set-variable variableName="id"><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getallmenusofarestaurant" doc:id="a3ea7386-5032-4369-b578-41f3b524b9cd" name="getallmenusofarestaurant" />
        <ee:transform doc:name="Transform Message" doc:id="f2712a7d-c679-4f91-8148-93341485d8ee">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
import dw::core::Strings

---
payload map (item)-> {
	menuId: item.menu_id,
	name: item.menu_name,
	restaurantId: item.restaurant_id,
	links: [
		 {
      "linkName": "menuItems",
      href: "/api/restaurants/" ++ vars.id as String ++"/menus/"
					++ item.menu_id as String++ "/menuItems"
   //   "href": "http://localhost:8081/restaurants/1/menus/101/menuItems"
    },
    {
      "linkName": "restaurant",
      "href": "/api/restaurants/" ++ vars.id as String
    }
	]
	
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(id):swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="requestUri"><![CDATA[%dw 2.0
output application/java
---
attributes.requestUri as String]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getrestaurantbyid" doc:id="fd7a930c-453d-4fc6-b81f-9833d4e4977a" name="getrestaurantbyid" />
        <ee:transform doc:name="Map Restaurant" doc:id="69d8c76a-9fc5-4750-861d-febb3d8099f5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
import dw::core::Strings

var item = payload
---
 {
	restaurantId: item.restaurant_id,
	name: item.name,
	address:{
		houseNumber: item.house_number,
		street: item.street,
		city:item.city,
		pincode: item.pincode
	},
	links:[
		{
			linkName: "menus",
			href: Strings::substringBefore(vars.requestUri as String,"?")  ++ '/' ++ 
					item.restaurant_id as String++ "/menus"
		}
	]
	
}]]></ee:set-payload>
            </ee:message>
            <ee:variables />
        </ee:transform>
    </flow>
    <flow name="post:\restaurants\(id)\menus:application\json:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="AddAnewMenu" doc:id="7b49ce03-cd42-4888-b56d-8f99c3211d36" name="AddAnewMenu" />
        <ee:transform doc:name="Add Location Header" doc:id="10759636-5637-4037-bbf9-c8f7ebb60f5c">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{menuId : payload.generatedKeys.GENERATED_KEY} 
++ vars.originalPayload as Object default  {}
++ {
	links:[
		
		{
      "linkName": "menuItems",
      "href": "/api/restaurants/" ++ vars.id as String ++ "/menus/" ++ 
      		payload.generatedKeys.GENERATED_KEY as String ++ "/menuItems"
    },
    {
      "linkName": "restaurant",
      "href": "http://localhost:8081/restaurants/1/"
    }
	]
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	location: vars.requestUri as String ++ '/' ++ 
				(payload.generatedKeys.GENERATED_KEY as String) default ""
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="post:\restaurants:application\json:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message" doc:id="e6b046aa-e4eb-4f98-bc5a-150725afa13f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="requestUri"><![CDATA[%dw 2.0
output application/java
---
attributes.requestUri]]></ee:set-variable>
                <ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="AddRestaurant" doc:id="33562297-a8b2-46c4-a6b0-decd3204418f" name="AddRestaurant" />
        <ee:transform doc:name="Add Location Header" doc:id="f0488620-2707-4e3a-9fbc-8d61b6a53c34">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{restaurant_id : payload.generatedKeys.GENERATED_KEY} ++ vars.originalPayload as Object default  {}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	location: vars.requestUri as String ++ '/' ++ 
				(payload.generatedKeys.GENERATED_KEY as String) default ""
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="3e23cde8-456e-4f05-b81c-dc4a929616d6" type="APP:DUPLICATE_RESTAURANT">
                <ee:transform doc:name="Transform Message" doc:id="8da62b85-5ebe-4a3a-afa8-587ff0e7b9b3">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{

"status": "409",

"message": "A restaurant with same name already exists"

}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
409]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\restaurants\(id)\menus\(menuId)\menuItems\(menuItemId):application\json:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Set uriparams and originalPaylod variables">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
                <ee:set-variable variableName="menuId"><![CDATA[attributes.uriParams.'menuId']]></ee:set-variable>
                <ee:set-variable variableName="menuItemId"><![CDATA[attributes.uriParams.'menuItemId']]></ee:set-variable>
                <ee:set-variable variableName="originalPayload"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Update MenuItem By MenuItemId" doc:id="f0555730-c721-4c0d-bf39-e8ceb198a7f1" name="updateaMenuItemByMenuItemId" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "200",
  message: "MenuItem with id {id} is updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\restaurants\(id)\menus\(menuId)\menuItems\(menuItemId):swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
                <ee:set-variable variableName="menuItemId">attributes.uriParams.'menuItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteMenuItemByMenuitemId" doc:id="3c84bb42-3c60-4a6e-98b5-20f6f2b296ac" name="deleteMenuItemByMenuItemId" />
        <ee:transform doc:name="Transform Message1" doc:id="3d73141f-9c85-4745-bae1-a4b7f144564e">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if(payload ==1){
  status: "200",
  message: "MenuItem with id " ++ vars.menuItemId ++ " is Deleted"
}else{
  status: "404",
  message: "MenuItem with id " ++ vars.menuItemId ++ " is Not found"
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
if(payload >=1) "200" else  "404"]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(id)\menus\(menuId)\menuItems\(menuItemId)\inventory:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
                <ee:set-variable variableName="menuItemId">attributes.uriParams.'menuItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getMenuItemInventoryByMenuItemId" doc:id="5f7a96ea-aaf7-4c52-8d96-f2a31672185f" name="getMenuItemInventoryByMenuItemId" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  menuItemId: payload.menu_item_id,
  quantity: payload.quantity,
  discountPercentage: payload.discount_percentage,
  links: [
    {
      linkName: "menuItem",
      href: "/api/restaurants/"++ vars.id as String ++"/menus/"++ vars.menuId as String ++"/menuItems/"++ vars.menuItemId as String    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(id)\menus\(menuId)\menuItems:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getallmenuItemsbymenuid" doc:id="d5e0368d-083c-4481-bcdf-e39bc42ba4ec" name="getallmenuItemsbymenuid" />
    </flow>
    <flow name="get:\restaurants\(id)\menus\(menuId):swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getmenubymenuId" doc:id="77e83519-5299-46f0-ab1f-3afc71d3289a" name="getmenubymenuId" />
        <ee:transform doc:name="Transform Message1" doc:id="e15442a3-8d27-4b26-95c9-bcc52020d983">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
import dw::core::Strings

var item =payload

---
 {
	menuId: item.menu_id,
	name: item.menu_name,
	restaurantId: item.restaurant_id,
	links: [
		 {
      "linkName": "menuItems",
      href: "/api/restaurants/" ++ vars.id as String ++"/menus/"
					++ item.menu_id as String++ "/menuItems"
   //   "href": "http://localhost:8081/restaurants/1/menus/101/menuItems"
    },
    {
      "linkName": "restaurant",
      "href": "/api/restaurants/" ++ vars.id as String
    }
	]
	
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\restaurants\(id)\menus\(menuId)\menuItems\(menuItemId):swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
                <ee:set-variable variableName="menuItemId">attributes.uriParams.'menuItemId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="getmenuitembyid" doc:id="52f884c1-4f76-4a98-969c-fdae9659ff19" name="getmenuitembyid" />
        <ee:transform doc:name="MapdatatoMenuItem" doc:id="837513ba-efcb-48e4-bd3f-481012661612">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json

var item = payload
---
{
	menuItemId: item.menu_item_id, 
  itemName: item.item_name,
  description: item.item_description,
  price: item.price,
  menuId: item.menu_id,
   "links": [
    {
      "linkName": "menu",
      "href": "/api/restaurants" ++ vars.id as String ++"/menus/" ++ vars.menuId as String
    },
    {
      "linkName": "menuItemInventory",
      "href": "/api/restaurants" ++ vars.id as String ++"/menus/" ++ vars.menuId as String 
      			++ "/menuItems/" ++ item.menu_item_id as String++ "/inventory"
    }
    
    ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\restaurants\(id)\menus\(menuId)\menuItems:application\json:swiggy-restaurants-sapi-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
                <ee:set-variable variableName="menuId">attributes.uriParams.'menuId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="AddaNewMenuItem" doc:id="5a6e1af6-5439-4a62-9f04-d6ae4f9bfe4e" name="AddaNewMenuItem" />
        <ee:transform doc:name="Add Location Header" doc:id="7cbdc91e-f1b4-42ee-8d0e-7703e141c4cc">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{menuItemId : payload.generatedKeys.GENERATED_KEY} 
++ vars.originalPayload as Object default  {}
++  {
"links": [
    {
      "linkName": "menu",
      "href": "/api/restaurants" ++ vars.id as String ++"/menus/" ++ vars.menuId as String
    },
    {
      "linkName": "menuItemInventory",
      "href": "/api/restaurants" ++ vars.id as String ++"/menus/" ++ vars.menuId as String 
      			++ "/menuItems/" ++ payload.generatedKeys.GENERATED_KEY as String ++ "/inventory"
    }
    
    ]
    
    }]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="outboundHeaders"><![CDATA[%dw 2.0
output application/java
---
{
	location: vars.requestUri as String ++ '/' ++ 
				(payload.generatedKeys.GENERATED_KEY as String) default ""
}]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
</mule>
