sw-restaurant-sapi-impl/src/main/mule/myimpl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="postRestaurantById" doc:id="74c2ac41-d355-4291-af11-22265542ebca" >
		<db:insert doc:name="Insert" doc:id="6e9b57d0-a472-4bf6-bcac-a7e9ac0831b8" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO restaurant (restaurant_Id,name,house_Number,street,city,pincode)
VALUES (:restaurant_id,:name,:house_Number,:street,:city,:pincode);
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	restaurant_id : payload.restaurantId,
	name: payload.name,
	house_Number: payload.address.houseNumber,
	street: payload.address.street,
	city: payload.address.city,
	pincode: payload.address.pincode


}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="0ac1e6e3-cced-4575-8788-3e43461e380c" />
	</flow>
</mule>
